language: cpp
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-8
compiler:
  - gcc
  - clang
before_script:
  - mkdir ../build
  - cd ../build
script:
  - cmake ../mp2-lab2-matrix
  - make -j
  - cd ./bin/
  - ./test_matrix --gtest_list_tests
notifications:
  email: false
